
:root {
    --background-dark-mode:  rgb(35, 35, 35);
    --background-alt-dark-mode: rgb(50, 50, 50);
    --gradient-grey:  rgb(46, 46, 46);
    --gradient-grey-alt:  rgb(58, 58, 58);


    --lighter-grey: rgb(89, 89, 89);
    --background-light-mode: #e4e3e3df;
    --background-alt-light-mode: #dfdcdc;
    --text-dark-mode: white;
    --text-light-mode: black;
    --subtext-grey: rgba(220, 220, 220, 0.589);
    --form-light:rgb(212, 210, 210);
    --form-entries-light:rgb(234, 234, 234);


  }
  

#screen-log {
    display: none;
}

body {
    margin: 0px;

}

.page1-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 50% 50%;
    gap: 2vw;
}

.page1-container-item-1 {
    width: 50vw;
}

.page1-container-item-2 {
    width: 50vw;
}

.introh1 {
    /* Setting shadow dom to 0 */
    display: block;
    font-size: 2em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 300;

    font-family: 'Montserrat';
    padding-top: 0vh;
    padding-left: 15vw;

    font-size: 7vh;
    color: var(--text-dark-mode);
    width: 45vw;
    transition: all 0.3s;
}



img {
    width: 20vw;
    height: auto;
    border-radius: 20px;
    transition: all 0.3s;

    
}

.img-container {
    padding-top: 30vh;
    padding-left: 2vw;
}

h1 {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 300;
    font-family: 'Montserrat';

    font-size: 7vh;
    color: white;
    width: 30vw;
    transition: all 0.3s;


}



.h1-light {
    color: var(--lighter-grey);
    transition: all 0.3s;

}

h2 { 
    font-weight: 300;
    font-family: 'Montserrat';
    padding-top: 0vh;
    margin-top: 0vh;
    font-size: 2vh;
    color: var(--subtext-grey);
    align-items: left;
    width: 30vw;
    margin-right: 0px;
    margin-bottom: 0px;
    /* setting these to zero from shadow dom */
    margin-block-start: 0.0em;
    margin-block-end: 0.0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;
    padding-left: 15.5vw;
    transition: all 0.3s;

    


}

.subtext { 
    font-size: 1.65vh;
    color: var(--subtext-grey);
    padding-top: 40vh;
    transition: all 0.3s;

}

.h2-light {
    color: var(--lighter-grey);
    transition: all 0.3s;

}


.page { 
    /* background-image: radial-gradient(500px 500px at 100px 100px, white  , var(--background-dark-mode)); */
    background-color: var(--background-dark-mode);
    height: 100vh;
    width: 100vw;
    transition: all 0.3s;

}

.page-alt { 
    /* background-image: radial-gradient(500px 500px at 100px 100px, white  , var(--background-dark-mode)); */
    background-color: var(--background-alt-dark-mode);
    height: 100vh;
    width: 100vw;
    transition: all 0.3s;

}

.page-light {
    background-color: var(--background-light-mode);
    transition: all 0.3s;

 }

 .page-alt-light {
    background-color: var(--background-alt-light-mode) ;
    transition: all 0.3s;

 }




nav {
    position: fixed;
    background-color: var(--background-alt-dark-mode);
    color: var(--text-dark-mode);
    height: 5vh;
    width: 100vw;
    font-family: 'Montserrat';
    font-size: large;
    z-index: 1000;
    transition: all 0.3s;

}

.nav-light {
    background-color: var(--background-alt-light-mode);
    color: var(--text-light-mode);
    transition: all 0.3s;

    
}

ul { 
    list-style-type: none;
    padding-left: 2%;
    /* Overriding automatic settings below */
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    /* Centering words in navbar vertically */
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    margin-left: 2vw;
    margin-right: 2vw;


}

li {
    display: inline;
    float: right;
    margin-left: 5vw;
    padding-bottom: 2px;
    transition: all 0.3s;

}


li:hover { 
    color: crimson;
}


/* Overrides styling on left hand side element of nav bar */
.nav-left {
    float: left;
    margin-left: 0vw;
}

.hidden {
    display: none;
    transition: all 0.3s;

}

.page-2-first-container {
    width: 80vw;
    height: 80vh;
    margin-left: 10vw;
    position: relative;
    top: 10vh;
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw ;
    grid-template-rows: 20vh 20vh 20vh ;
    grid-gap: 2vw;
    transition: all 0.3s;

}

.page-2-container-grid-item {
    width: auto;
    height: auto;
    transition: all 0.3s;

}

.page-2-container-grid-item-section-1 {
    width: auto;
    height: auto;
    grid-column: 1/3;
    grid-row: 1/6;
    text-align: center;
    justify-content: center;
    display: flex;
    transition: all 0.3s;

}

.page-2-container-grid-item-section-2 {
    width: auto;
    height: auto;
    grid-column: 3/6;
    grid-row: 1/6;
    max-width: 80vw;
    transition: all 0.3s;

    
}

.page-2-image-1 {
    width: 25vw;
    height: auto;
    flex-shrink: 0;
    align-self: center;
    object-fit: cover;
    transition: all 0.3s;

    
}

.page-2-h1 {
    float: left;
    padding-top: 18vh;
    transition: all 0.3s;

}

.minor-nav {
    margin-top: 27vh;
    margin-left: 7px;
    transition: all 0.3s;


}

.page-2-h2 {
    padding-left: 0vh;
    display: inline;
    margin-right: 2vw;
    transition: all 0.4s;

}

.page-2-h2:hover {
    
    color: crimson;
}

p {
    font-weight: 300;
    font-family: 'Montserrat';
    padding-top: 3vh;
    margin-top: 0vh;
    font-size: 1.5vh;
    color: var(--text-dark-mode);
    width: 28vw;
    margin-left: 7px;
    transition: all 0.3s;


}

.p-light {
    color: var(--text-light-mode);
    transition: all 0.3s;

}

/* PAGE 3 HERE */

.page-3-first-container {
    width: 80vw;
    height: 70vh;
    margin-left: 10vw;
    position: relative;
    top: 10vh;
    display: grid;
    grid-template-columns: 25vw 25vw 25vw  ;
    grid-template-rows: 80vh ;
    grid-gap: 2vw;
    transition: all 0.3s;

}

.page-3-container-item {
    width: 25vw;
    height: 60vh;
    background-color: var(--background-alt-dark-mode);
    border-radius: 20px;
    box-shadow: 0px 3px 7px rgba(255, 255, 255, 0.6);
    display: inline-block;
    transition: all 0.3s;


}

.page-3-container-item-light {
    background-color: white;
    box-shadow: 0px 0px 10px rgba(53, 52, 52, 0.6);
    transition: all 0.3s;


}

.page-3-container-item:hover {
    box-shadow: none;

    
}
.page-3-h1 {
    padding-left: 40vw;
    padding-top: 10vh;
    margin-bottom: 0px;
    transition: all 0.3s;

}

.page-3-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
    transition: all 0.3s;
    
}

.page-3-img:hover {
    opacity: 0.05;
}


.page-3-card-title { 
    font-size: 2vw;
    z-index: 0;
    position: absolute;
    padding-top: 2vh;
    padding-left: 2vh;
    transition: all 0.3s;

}

.page-3-subtext {
    font-size: 0.9vw;
    z-index: 0;
    position: absolute;
    padding-top: 7vh;
    padding-left: 2.5vh;
    font-weight: 300;
    font-family: 'Montserrat';
    color: var(--subtext-grey);
    transition: all 0.3s;

}

.page-3-subtext-light {
    color: var(--lighter-grey);
    transition: all 0.3s;

}

.page-3-paragraph {
    font-size: 0.9vw;
    z-index: 0;
    position: absolute;
    padding-top: 10vh;
    padding-left: 2vh;
    font-weight: 300;
    font-family: 'Montserrat';
    color: white;
    width: 21vw;
    transition: all 0.3s;

}

.page-3-paragraph-light {
    color: var(--text-light-mode);
    transition: all 0.3s;

}

.github-logo {
    width: 5vw;
    z-index: 1;
    position: absolute;
    filter: invert(100%);
    padding-left: 14vw;
    padding-top: 45vh;
    transition: all 0.3s;

}

.github-logo-light {
    filter: invert(35%);
    transition: all 0.3s;

}

.github-link {
    font-size: 1.5vw;
    z-index: 1;
    position: absolute;
    padding-left: 5vw;
    padding-top: 48vh;
    transition: all 0.3s;

}

/* PAGE 4 */

.page-4-container {
    width: 80vw;
    height: 80vh;
    margin-left: 10vw;
    position: relative;
    top: 10vh;
    display: grid;
    grid-template-columns: 25vw 55vw;
    grid-template-rows: 80vh ;
    grid-gap: 2vw;
    transition: all 0.3s;
}

.page-4-container-item-1 {
    width: 25vw;
    height: 80vh;
    background-color: var(--background-dark-mode);
    display: inline-block;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.401);
    transition: all 0.3s;

}

.page-4-container-item-1-light {
    background-color: var(--form-light);
    box-shadow: 0px 0px 10px rgba(53, 52, 52, 0.6);
    transition: all 0.3s;


}



.page-4-container-item-2 {
    width: 55vw;
    height: 80vh;
    background-color: var(--background-dark-mode);
    display: inline-block;
    border-radius: 20px;
    box-shadow:  0px 5px 10px rgba(255, 255, 255, 0.401);
    transition: all 0.3s;

}

.page-4-container-item-2-light {
    background-color: var(--form-light);
    box-shadow: 0px 0px 10px rgba(53, 52, 52, 0.6);
    transition: all 0.3s;


}


.form-1 {
    width: 80%;
    margin-left: 10%;
    background-color: var(--background-alt-dark-mode);
    height: 7%;
    border-radius: 10px;
    box-shadow: none;
    border-style: solid;
    border-color: var(--lighter-grey); 
    color: var(--text-dark-mode);
    font-size: large;
    margin-bottom: 2%;
    font-family: 'Montserrat';
    transition: all 0.3s;

}

.link-1 {
    width: 50%;
    margin-left: 22%;
    margin-top: 12%;
    background-color: var(--background-alt-dark-mode);
    height: 7%;
    border-radius: 10px;
    box-shadow: none;
    border-style: solid;
    border-color: var(--lighter-grey); 
    color: var(--text-dark-mode);
    font-size: large;
    margin-bottom: 2%;
    font-family: 'Montserrat';
    transition: all 0.3s;
}

.link-1:hover {
    color: crimson;
    
}

.link-1-light {
    background-color: var(--form-entries-light);
    color: var(--text-light-mode);


}

.form-1-light {
    background-color: var(--form-entries-light);
    border-color: grey; 
    color: var(--background-alt-dark-mode);
    transition: all 0.3s;




}

.form-1:hover {
    color: crimson;
}
.form-1-light:hover {
    color: crimson;
}

.form-1-button {
    margin-left: 40%;
    width: 15%;
    margin-top: 2%;
    transition: all 0.3s;

}


.form-headings {
    font-size: 1.5vw;
    margin-left: 10%;
    margin-bottom: 1%;
    width: 33%;
    transition: all 0.3s;


}

span {
    color: crimson;
}

.form-title {
    margin-top: 3%;
    font-size: 3vw;
    margin-left: 32%;
    margin-bottom: 5%;
    transition: all 0.3s;

}

textarea {
    font-family: 'Montserrat';
    border-width: 2px;
    transition: all 0.3s;

}

.link-title {
    margin-top: 6.5%;
    margin-left: 33%;
    font-size: 3vw;
    transition: all 0.3s;

}

a {
    text-decoration: none;
}













@media only screen and (max-width: 1400px) {


    .img-container {
        padding-left: 36vw;
        padding-top: 0vh;
        padding-bottom: 10vh;


    }

    .subtext {
        padding-top: 14vh;
    }

    .introh1 {
        /* Setting shadow dom to 0 */
        display: block;
        font-size: 2em;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: 300;
    
        font-family: 'Montserrat';
        padding-top: 0vh;
        padding-left: 33vw;
    
        font-size: 7vh;
        color: var(--text-dark-mode);
        width: 45vw;
    }

    .h1-light {
        color: var(--lighter-grey);
    }
    

    h2 { 
        font-weight: 300;
        font-family: 'Montserrat';
        padding-top: 0vh;
        margin-top: 0vh;
        font-size: 2vh;
        color: white;
        align-items: left;
        width: 30vw;
        margin-right: 0px;
        margin-bottom: 0px;
        /* setting these to zero from shadow dom */
        margin-block-start: 0.0em;
        margin-block-end: 0.0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        display: block;

        padding-left: 33vw;
    }

    .page1-container {
        display: block;
    }

    .page1-container-item-1 {
        height: 50vh;
        width: 100vw;
    }

    .page1-container-item-2 {
        width: 100vw;
        height: 50vh;
    }





    /* EDITED PAGE TWO */

    .page-2-first-container {
        width: 80vw;
        height: 80vh;
        margin-left: 10vw;
        position: relative;
        top: 10vh;
        display: grid;
        grid-template-columns: 20vw 20vw 20vw 20vw 20vw ;
        grid-template-rows: 20vh 20vh 20vh ;
        grid-gap: 2vw;
    }
    
    .page-2-container-grid-item {
        width: auto;
        height: auto;
    }
    
    .page-2-container-grid-item-section-1 {
        width: auto;
        height: auto;
        grid-column: 1/6;
        grid-row: 1/3;
        text-align: center;
        justify-content: center;
        display: flex;
    }
    
    .page-2-container-grid-item-section-2 {
        width: auto;
        height: auto;
        grid-column: 1/6;
        grid-row: 3/6;
        
    }
    
    .page-2-image-1 {
        width: 35vw;
        height: auto;
        flex-shrink: 0;
        align-self: center;
        object-fit: cover;
        float: left;
        margin-right: 33vw;
        
    }
    
    .page-2-h1 {
        margin-right: auto;
        padding-top: 0vh;
    }
    
    .minor-nav {
        margin-top: 10vh;
        margin-left: 7px;
    
    }
    
    .page-2-h2 {
        padding-left: 0vh;
        display: inline;
        margin-right: 2vw;
        transition: all 0.4s;
    
    }
    
    .page-2-h2:hover {
        
        color: crimson;
    }
    
    p {
        font-weight: 300;
        font-family: 'Montserrat';
        padding-top: 3vh;
        margin-top: 0vh;
        font-size: 1.3vh;
        color: var(--text-dark-mode);
        width: 75vw;
        margin-left: 7px;
        
    }





}


@media only screen and (max-width: 600px) {



    img {
        width: auto;
        height: 20vh; 
        margin-top: 15vh;
    }
    
    .img-container {
        padding-left: 
    }

    .nav-after {
        height: 5vh;
    }

    .ul-after {
        display: none;
    }

    .hidden {
        display: inline;
    }
    

    
    .h1-light {
        color: var(--lighter-grey);
    }

    nav {
        position: fixed;

        background-color: var(--background-alt-dark-mode);
        color: var(--text-dark-mode);
        height: 23vh;
        width: 100vw;
        font-family: 'Montserrat';
        font-size: large;
    }
    
    ul { 
        list-style-type: none;
        padding-left: 2%;
        /* Overriding automatic settings below */
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
        /* Centering words in navbar vertically */
        padding-bottom: 1.5vh;
        /* margin-left: 36vw; */
        margin-right: 2vw;
        width: 100vw;
        padding-top: 2px;
        /* Reverses ordering of li's */
        display: flex;
        flex-direction: column-reverse;    
    }
    
    li {
        display: block;
        width: 100vw;
        height: 3vh;
        text-align: center;
        margin-left: 0;
        margin-top: 2px;
        margin-bottom: 2px;

    }

    .nav-left {
        float: left;
        margin-left: 0vw;
   }

    #burger {
        text-align: center;
        margin-top: 1vh;
        margin-bottom: 0vh;

    }
    .page1-container-item-2 {
        width: 100vw;
    }
    /* PAGE 3 <600 STLYES */

    .page-3-first-container {
        width: 80vw;
        height: 70vh;
        margin-left: 10vw;
        position: relative;
        top: 10vh;
        display: grid;
        grid-template-rows: 20vh 20vh 20vh  ;
        grid-template-columns: 80vw ;
        grid-gap: 2vw;
    }
    
    .page-3-container-item {
        width: 80vw;
        height: 20vh;
        border-radius: 20px;
        display: inline-block;
    
    }
    
    .page-3-container-item:hover {
        box-shadow: none;
        
    }
    .page-3-h1 {
        padding-left: 5vw;
        padding-top: 5vh;
        margin-bottom: 0px;
    }
    
    .page-3-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.3;
        margin-top: 0;
    
    
    
    }
    
    .page-3-img:hover {
        opacity: 0.05;
    }
    
    
    .page-3-card-title { 
        font-size: 6vw;
        width: 70vw;
        z-index: 0;
        position: absolute;
        padding-top: 2vh;
        padding-left: 1.7vh;
    }
    
    .page-3-subtext {
        font-size: 3vw;
        z-index: 0;
        position: absolute;
        padding-top: 6vh;
        padding-left: 1.7vh;
        font-weight: 300;
        font-family: 'Montserrat';
        color: var(--subtext-grey);
    }
    
    .page-3-paragraph {
        font-size: 1.5vw;
        z-index: 0;
        position: absolute;
        padding-top: 6.5vh;
        padding-left: 1vh;
        font-weight: 300;
        font-family: 'Montserrat';
        color: white;
        width: 70vw;
        display: none;
    
    
    }
    

    .github-logo {
        width: 12vw;
        height: auto;
        z-index: 1;
        position: absolute;
        padding-left: 47vw;
        padding-bottom: 10vh;
        margin-top: 0vh;
        padding-top:10vh;
    }
    
    .github-link {
        font-size: 4vw;
        z-index: 1;
        position: absolute;
        padding-left: 22vw;
        padding-top: 11.5vh;
    }

    .page-4-container {
        width: 80vw;
        height: 100vh;
        margin-left: 10vw;
        position: relative;
        top: 10vh;
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 45vh 25vh ;
        grid-gap: 6vw;
        transition: all 0.3s;
    }
    
    .page-4-container-item-1 {
        width: 80vw;
        height: 45vh;
        background-color: var(--background-dark-mode);
        display: inline-block;
        border-radius: 20px;
        box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.401);
        transition: all 0.3s;
    
    }
    

    
    
    
    .page-4-container-item-2 {
        width: 80vw;
        height: 70vh;
        background-color: var(--background-dark-mode);
        display: inline-block;
        border-radius: 20px;
        box-shadow:  0px 5px 10px rgba(255, 255, 255, 0.401);
        transition: all 0.3s;
        
    
    }

    .form-1 {
        width: 80%;
        margin-left: 10%;
        background-color: var(--background-alt-dark-mode);
        height: 7%;
        border-radius: 10px;
        box-shadow: none;
        border-style: solid;
        border-color: var(--lighter-grey); 
        color: var(--text-dark-mode);
        font-size: large;
        margin-bottom: 2%;
        font-family: 'Montserrat';
        transition: all 0.3s;
    
    }

    .link-1 {
        width: 80%;
        margin-left: 10%;
        margin-top: 1%;
        background-color: var(--background-alt-dark-mode);
        height: 12%;
        border-radius: 10px;
        box-shadow: none;
        border-style: solid;
        border-color: var(--lighter-grey); 
        color: var(--text-dark-mode);
        font-size: large;
        margin-bottom: 2%;
        font-family: 'Montserrat';
        transition: all 0.3s;
    }
    
    .page-4 {
        height: 140vh;
    }


}
