
:root {
    --background-dark-mode:  rgb(35, 35, 35);
    --background-alt-dark-mode: rgb(50, 50, 50);
    --background-light-mode: #F4F4F2;
    --background-alt-light-mode: #E8E8E8;
    --text-dark-mode: white;
    --text-light-mode: black;
  }
  

body {
    margin: 0px;

}

.page1-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 50% 50%;
    gap: 2vw;
}

.page1-container-item {
    width: 50vw;
}

.introh1 {
    /* Setting shadow dom to 0 */
    display: block;
    font-size: 2em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

    font-family: 'Montserrat';
    padding-top: 42vh;
    padding-left: 15vw;

    font-size: 7vh;
    color: white;
    width: 45vw;
}

img {
    width: 350px;
    height: auto;
    padding-top: 30vh;

    
}

h1 {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: 'Montserrat';

    font-size: 7vh;
    color: white;
    width: 30vw;

}

h2 { 
    font-weight: 300;
    font-family: 'Montserrat';
    padding-top: 0vh;
    margin-top: 0vh;
    font-size: 2vh;
    color: white;
    align-items: left;
    width: 30vw;
    margin-right: 0px;
    margin-bottom: 0px;
    /* setting these to zero from shadow dom */
    margin-block-start: 0.0em;
    margin-block-end: 0.0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;

    padding-left: 15vw;


}


.page { 
    background-color: var(--background-dark-mode);
    height: 100vh;
    width: 100vw;
}

.page-alt { 
    background-color: var(--background-alt-dark-mode);
    height: 100vh;
    width: 100vw;
}

.page-light {
    background-color: var(--background-light-mode);
 }

 .page-alt-light {
    background-color: var(--background-alt-light-mode) ;
 }




nav {
    position: fixed;
    background-color: var(--background-alt-dark-mode);
    color: var(--text-dark-mode);
    height: 5vh;
    width: 100%;
    font-family: 'Montserrat';
    font-size: large;
}

.nav-light {
    background-color: var(--background-alt-light-mode);
    color: var(--text-light-mode);
    
}

ul { 
    list-style-type: none;
    padding-left: 2%;
    /* Overriding automatic settings below */
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    /* Centering words in navbar vertically */
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    margin-left: 2vw;
    margin-right: 2vw;

}

li {
    display: inline;
    float: right;
    margin-left: 5vw;
    padding-bottom: 2px;
    transition: all 0.4s;
}


li:hover { 
    color: crimson;
}


/* Overrides styling on left hand side element of nav bar */
.nav-left {
    float: left;
    margin-left: 0vw;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 600px) {


    .nav-after {
        height: 5vh;
    }

    .ul-after {
        display: none;
    }

    .hidden {
        display: inline;
    }
    
    nav {
        background-color: var(--background-alt-dark-mode);
        color: var(--text-dark-mode);
        height: 23vh;
        width: 100%;
        font-family: 'Montserrat';
        font-size: large;
    }
    
    ul { 
        list-style-type: none;
        padding-left: 2%;
        /* Overriding automatic settings below */
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
        /* Centering words in navbar vertically */
        padding-bottom: 1.5vh;
        /* margin-left: 36vw; */
        margin-right: 2vw;
        width: 100vw;
        padding-top: 2px;
        /* Reverses ordering of li's */
        display: flex;
        flex-direction: column-reverse;    
    }
    
    li {
        display: block;
        width: 100vw;
        height: 3vh;
        text-align: center;
        margin-left: 0;
        margin-top: 2px;
        margin-bottom: 2px;

    }

    .nav-left {
        float: left;
        margin-left: 0vw;
   }

    #burger {
        text-align: center;
        margin-top: 1vh;
        margin-bottom: 0vh;


    }
   

}
