
:root {
    --background-dark-mode:  rgb(35, 35, 35);
    --background-alt-dark-mode: rgb(50, 50, 50);
    --lighter-grey: rgb(89, 89, 89);
    --background-light-mode: #e4e3e3df;
    --background-alt-light-mode: #dfdcdc;
    --text-dark-mode: white;
    --text-light-mode: black;
    --subtext-grey: rgba(220, 220, 220, 0.589);

  }
  

body {
    margin: 0px;

}

.page1-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 50% 50%;
    gap: 2vw;
}

.page1-container-item-1 {
    width: 50vw;
}

.page1-container-item-2 {
    width: 50vw;
}

.introh1 {
    /* Setting shadow dom to 0 */
    display: block;
    font-size: 2em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 300;

    font-family: 'Montserrat';
    padding-top: 0vh;
    padding-left: 15vw;

    font-size: 7vh;
    color: var(--text-dark-mode);
    width: 45vw;
}



img {
    width: 20vw;
    height: auto;
    border-radius: 20px;
    
}

.img-container {
    padding-top: 30vh;
    padding-left: 2vw;
}

h1 {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 300;
    font-family: 'Montserrat';

    font-size: 7vh;
    color: white;
    width: 30vw;

}



.h1-light {
    color: var(--lighter-grey);
}

h2 { 
    font-weight: 300;
    font-family: 'Montserrat';
    padding-top: 0vh;
    margin-top: 0vh;
    font-size: 2vh;
    color: var(--subtext-grey);
    align-items: left;
    width: 30vw;
    margin-right: 0px;
    margin-bottom: 0px;
    /* setting these to zero from shadow dom */
    margin-block-start: 0.0em;
    margin-block-end: 0.0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;
    padding-left: 15.5vw;
    


}

.subtext { 
    font-size: 1.65vh;
    color: var(--subtext-grey);
    padding-top: 40vh;
}

.h2-light {
    color: var(--lighter-grey);
}


.page { 
    background-color: var(--background-dark-mode);
    height: 100vh;
    width: 100vw;
}

.page-alt { 
    background-color: var(--background-alt-dark-mode);
    height: 100vh;
    width: 100vw;
}

.page-light {
    background-color: var(--background-light-mode);
 }

 .page-alt-light {
    background-color: var(--background-alt-light-mode) ;
 }




nav {
    position: fixed;
    background-color: var(--background-alt-dark-mode);
    color: var(--text-dark-mode);
    height: 5vh;
    width: 100vw;
    font-family: 'Montserrat';
    font-size: large;
}

.nav-light {
    background-color: var(--background-alt-light-mode);
    color: var(--text-light-mode);
    
}

ul { 
    list-style-type: none;
    padding-left: 2%;
    /* Overriding automatic settings below */
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    /* Centering words in navbar vertically */
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    margin-left: 2vw;
    margin-right: 2vw;

}

li {
    display: inline;
    float: right;
    margin-left: 5vw;
    padding-bottom: 2px;
    transition: all 0.4s;
}


li:hover { 
    color: crimson;
}


/* Overrides styling on left hand side element of nav bar */
.nav-left {
    float: left;
    margin-left: 0vw;
}

.hidden {
    display: none;
}

.page-2-first-container {
    width: 80vw;
    height: 80vh;
    margin-left: 10vw;
    position: relative;
    top: 10vh;
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw ;
    grid-template-rows: 20vh 20vh 20vh ;
    grid-gap: 2vw;
}

.page-2-container-grid-item {
    width: auto;
    height: auto;
}

.page-2-container-grid-item-section-1 {
    width: auto;
    height: auto;
    grid-column: 1/3;
    grid-row: 1/6;
    text-align: center;
    justify-content: center;
    display: flex;
}

.page-2-container-grid-item-section-2 {
    width: auto;
    height: auto;
    grid-column: 3/6;
    grid-row: 1/6;
    max-width: 80vw;
    
}

.page-2-image-1 {
    width: 25vw;
    height: auto;
    flex-shrink: 0;
    align-self: center;
    object-fit: cover;
    
}

.page-2-h1 {
    float: left;
    padding-top: 18vh;
}

.minor-nav {
    margin-top: 27vh;
    margin-left: 7px;

}

.page-2-h2 {
    padding-left: 0vh;
    display: inline;
    margin-right: 2vw;
    transition: all 0.4s;

}

.page-2-h2:hover {
    
    color: crimson;
}

p {
    font-weight: 300;
    font-family: 'Montserrat';
    padding-top: 3vh;
    margin-top: 0vh;
    font-size: 1.5vh;
    color: var(--text-dark-mode);
    width: 28vw;
    margin-left: 7px;

}

.p-light {
    color: var(--text-light-mode);
}

/* PAGE 3 HERE */

.page-3-first-container {
    width: 80vw;
    height: 70vh;
    margin-left: 10vw;
    position: relative;
    top: 10vh;
    display: grid;
    grid-template-columns: 25vw 25vw 25vw  ;
    grid-template-rows: 80vh ;
    grid-gap: 2vw;
}

.page-3-container-item {
    width: 25vw;
    height: 60vh;
    background-color: var(--background-alt-dark-mode);
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.178);
}

.page-3-container-item:hover {
    box-shadow: none;
}
.page-3-h1 {
    padding-left: 40vw;
    padding-top: 10vh;
    margin-bottom: 0px;
}






@media only screen and (max-width: 600px) {

    img {
        width: auto;
        height: 20vh; 
        margin-top: 15vh;
    }
    
    .img-container {
        padding-left: 
    }

    .nav-after {
        height: 5vh;
    }

    .ul-after {
        display: none;
    }

    .hidden {
        display: inline;
    }
    

    
    .h1-light {
        color: var(--lighter-grey);
    }

    nav {
        background-color: var(--background-alt-dark-mode);
        color: var(--text-dark-mode);
        height: 23vh;
        width: 100vw;
        font-family: 'Montserrat';
        font-size: large;
    }
    
    ul { 
        list-style-type: none;
        padding-left: 2%;
        /* Overriding automatic settings below */
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
        /* Centering words in navbar vertically */
        padding-bottom: 1.5vh;
        /* margin-left: 36vw; */
        margin-right: 2vw;
        width: 100vw;
        padding-top: 2px;
        /* Reverses ordering of li's */
        display: flex;
        flex-direction: column-reverse;    
    }
    
    li {
        display: block;
        width: 100vw;
        height: 3vh;
        text-align: center;
        margin-left: 0;
        margin-top: 2px;
        margin-bottom: 2px;

    }

    .nav-left {
        float: left;
        margin-left: 0vw;
   }

    #burger {
        text-align: center;
        margin-top: 1vh;
        margin-bottom: 0vh;

    }
    .page1-container-item-2 {
        width: 100vw;
    }
   

}










@media only screen and (max-width: 1400px) {


    .img-container {
        padding-left: 36vw;
        padding-top: 0vh;
        padding-bottom: 10vh;


    }

    .subtext {
        padding-top: 14vh;
    }

    .introh1 {
        /* Setting shadow dom to 0 */
        display: block;
        font-size: 2em;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: 300;
    
        font-family: 'Montserrat';
        padding-top: 0vh;
        padding-left: 33vw;
    
        font-size: 7vh;
        color: var(--text-dark-mode);
        width: 45vw;
    }

    .h1-light {
        color: var(--lighter-grey);
    }
    

    h2 { 
        font-weight: 300;
        font-family: 'Montserrat';
        padding-top: 0vh;
        margin-top: 0vh;
        font-size: 2vh;
        color: white;
        align-items: left;
        width: 30vw;
        margin-right: 0px;
        margin-bottom: 0px;
        /* setting these to zero from shadow dom */
        margin-block-start: 0.0em;
        margin-block-end: 0.0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        display: block;

        padding-left: 33vw;
    }

    .page1-container {
        display: block;
    }

    .page1-container-item-1 {
        height: 50vh;
        width: 100vw;
    }

    .page1-container-item-2 {
        width: 100vw;
        height: 50vh;
    }





    /* EDITED PAGE TWO */

    .page-2-first-container {
        width: 80vw;
        height: 80vh;
        margin-left: 10vw;
        position: relative;
        top: 10vh;
        display: grid;
        grid-template-columns: 20vw 20vw 20vw 20vw 20vw ;
        grid-template-rows: 20vh 20vh 20vh ;
        grid-gap: 2vw;
    }
    
    .page-2-container-grid-item {
        width: auto;
        height: auto;
    }
    
    .page-2-container-grid-item-section-1 {
        width: auto;
        height: auto;
        grid-column: 1/6;
        grid-row: 1/3;
        text-align: center;
        justify-content: center;
        display: flex;
    }
    
    .page-2-container-grid-item-section-2 {
        width: auto;
        height: auto;
        grid-column: 1/6;
        grid-row: 3/6;
        
    }
    
    .page-2-image-1 {
        width: 35vw;
        height: auto;
        flex-shrink: 0;
        align-self: center;
        object-fit: cover;
        float: left;
        margin-right: 33vw;
        
    }
    
    .page-2-h1 {
        margin-right: auto;
        padding-top: 0vh;
    }
    
    .minor-nav {
        margin-top: 10vh;
        margin-left: 7px;
    
    }
    
    .page-2-h2 {
        padding-left: 0vh;
        display: inline;
        margin-right: 2vw;
        transition: all 0.4s;
    
    }
    
    .page-2-h2:hover {
        
        color: crimson;
    }
    
    p {
        font-weight: 300;
        font-family: 'Montserrat';
        padding-top: 3vh;
        margin-top: 0vh;
        font-size: 1.3vh;
        color: var(--text-dark-mode);
        width: 75vw;
        margin-left: 7px;
    }





}
